.avatar{
    max-width: 60px;
    border-radius: 50%;
}
.paginator{
    cursor: pointer;
}
.paginator:hover{
   color:darkred;
    font-weight: bold;
    cursor: pointer;
}
.active{
    color: #8b0000;
    font-weight: bold;
}